[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/github-style"]
	path = themes/github-style
	url = git@github.com:MeiK2333/github-style.git
[submodule "themes/LinesNew"]
	path = themes/LinesNew
	url = git@github.com:ronv/lines.git
[submodule "themes/Lines"]
	path = themes/Lines
	url = git@github.com:ronv/lines.git
